<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Ecommerce -->
      <package
            uri="https://it.univaq.disim.mde.course.assignment.four/Ecommerce"
            class="Ecommerce.EcommercePackage"
            genModel="model/Ecommerce.genmodel"/>
   </extension>

</plugin>
